.photo-grid {
  max-width: 90vw;
  margin: 0 auto;
  padding-bottom: 64px;
}

@media (min-width: 426px) {
 .photo-grid {
  max-width: 93.75vw;
  padding-bottom: 88px;
 }
}

@media (min-width: 769px) {
  .photo-grid {
    max-width: 90.62vw;
    padding-bottom: 92px;
  }
}

@media (min-width: 1025px) {
  .photo-grid {
    max-width: 92.5vw;
    padding-bottom: 92px;
  }
 }
