.cover__subtitle {
  position: relative;
  max-width: 90vw;
  margin: 0 auto;
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  z-index: 1;
}

@media (min-width: 695px) {
  .cover__subtitle {
    max-width: 46.87vw;
    font-size: 18px;
    line-height: 22px;
  }
}

@media (min-width: 769px) {
  .cover__subtitle {
    max-width: 35.15vw;

  }
}

@media (min-width: 1025px) {
  .cover__subtitle {
    max-width: 360px;
  }
 }
