.header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 90vw;
  padding: 16px 0 48px;
  box-sizing: content-box;
}

@media (min-width: 426px) {
  .header {
    max-width: 93.75vw;
    padding: 28px 0 48px;
  }
}

@media (min-width: 769px) {
  .header {
    max-width: 90.62vw;
  }
}

@media (min-width: 1025px) {
  .header {
    max-width: 92.5vw;
    padding: 28px 0 56px;
  }
}
