.lead__title {
  max-width: 90vw;
  margin: 0 auto;
  padding-bottom: 16px;
  text-align: center;
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  color: white;
  font-size: 40px;
  font-weight: 900;
  line-height: 44px;
}

@media (min-width: 730px) {
  .lead__title {
    max-width: 93.75vw;
    padding-bottom: 32px;
    font-size: 96px;
    line-height: 100px;
  }
}

@media (min-width: 960px) {
  .lead__title {
    max-width: 70.31vw;
    font-size: 96px;
  }
}

@media (min-width: 1025px) {
  .lead__title {
    max-width: 720px;
  }
}
