.places__list {
  padding-bottom: 66px;
}

@media (min-width: 426px) {
  .places__list {
    padding-bottom: 90px;
  }
}

@media (min-width: 769px) {
  .places__list {
    padding-bottom: 92px;
  }
}
