.place__paragraph {
  margin: 0;
  padding-bottom: 25px;
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
}

.place__paragraph:last-child {
  padding-bottom: 0;
}

@media (min-width: 700px) {
 .place__paragraph {
  padding-left: 0;
  padding-right: 0;
 }
}

@media (min-width: 900px) {
  .place__paragraph {
    font-size: 18px;
  }
}
