.cover__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 33px 0;
  text-decoration-line: none;
  background-image: url('../../../images/cover-trains.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cover__wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #2A2C2F;
  opacity: 0.3;
  transition: opacity .5s ease-in-out;
}

.cover__wrapper:hover::before {
  cursor: pointer;
  opacity: .8;
}

@media (min-width: 695px) {
  .cover__wrapper {
    padding: 115px 0;
  }
}

@media (min-width: 925px) {
  .cover__wrapper {
    padding: 195px 0;
  }
}

@media (min-width: 1184px) {
  .cover__wrapper {
    padding: 245px 0;
  }
}
