.cover__title {
  position: relative;
  max-width: 90vw;
  margin: 0 auto;
  padding-bottom: 16px;
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  color: white;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  text-align: center;
  z-index: 1;
}

@media (min-width: 695px) {
  .cover__title {
    max-width: 72.91vw;
    padding-bottom: 32px;
    font-size: 72px;
    line-height: 76px;
  }
}

@media (min-width: 925px) {
  .cover__title {
    max-width: 54.68vw;
  }
}

@media (min-width: 1025px) {
  .cover__title {
    max-width: 560px;
  }
}