@media (min-width: 700px) {
  .place__item {
    display: grid;
    grid-template-columns: 340px 1fr;
    grid-template-rows: repeat(2, auto);
    justify-items: start;
    gap: 48px 28px;
  }
}

@media (min-width: 900px) {
  .place__item {
    max-width: 90.62vw;
    grid-template-columns: 440px 1fr;
    gap: 48px 32px;
  }
}

@media (min-width: 1050px) {
    .place__item {
      grid-template-columns: 460px 1fr;
      gap: 48px 40px;
    }
  }