.intro__title {
  margin: 0;
  padding-bottom: 40px;
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  color: white;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
}

@media (min-width: 426px) {
  .intro__title {
    padding-bottom: 40px;
    font-size: 54px;
    line-height: 58px;
  }
}
